* {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
  line-height: 1.2;
  font-size: 14px;
}

.search-form {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  padding: 16px 0;
  text-align: center;
  background-color: rgba(207, 207, 207, 0.7);
}

input {
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 8px;
}

button {
  margin: 16px auto;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(115, 236, 40);
  color: white;
  border: none;
  border-radius: 8px;
  transition: linear 250ms;
}
button:hover {
  background-color: rgb(84, 213, 4);
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 120px;
}

@media screen and (min-width: 320px) {
  .photo-card {
    max-width: 480px;
    border: black 1px solid;
    border-radius: 5px;
    transition: linear 300ms;
    overflow: hidden;
    transition: linear 300ms;
  }
  @media screen and (min-width: 720px) {
    .photo-card {
      width: calc((100% - 50px) / 2);
    }
  }
  @media screen and (min-width: 960px) {
    .photo-card {
      width: calc((100% - 50px) / 3);
    }
  }
  @media screen and (min-width: 1200px) {
    .photo-card {
      width: calc((100% - 50px) / 4);
    }
  }
}

.photo-card:hover {
  scale: 103%;
}
.photo-card img {
  width: 100%;
  height: 25vh;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.info-item {
  text-align: center;
}

.load-more {
  display: flex;
  margin: 16px auto;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: linear 250ms;
}

.is-hidden {
  display: none;
}
